* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(61, 68, 66);
}

/* Day 1 */

.table {
    display: block;
    width: 50%;
    min-width: 400px;
    border-radius: 14px;
    margin: 70px auto;
    text-align: center;
    color: bisque;
    background-color: rgb(32, 21, 43);
}

h1,
h2 {
    padding: 10px;
    margin: 5px auto;
}

button {
    padding: 20px;
    color: bisque;
    background-color: rgb(67, 182, 88);
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    border: none;
    border-radius: 14px;
}

button:hover {
    color: rgb(34, 20, 20);
    background-color: rgb(10, 170, 90);
}

button::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(232, 157, 65);
    position: absolute;
    width: 0%;
    transition: all ease-in-out 100ms;
    margin: 10px auto;
    top: 300px;
    left: 513px;
}

button:hover::before {
    width: 5%;
}

/* Day - 02 */

.table-2 {
    width: 50%;
    min-width: 400px;
    height: auto;
    border-radius: 14px;
    margin: 70px auto;
    text-align: center;
    color: bisque;
    background-color: rgba(245, 242, 66, 0.959);
}

.white {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    border-radius: 14px 14px 0 0;
}

.circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: white;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(22, 151, 151);
    margin: 20px auto;
    padding-top: 70px;
}

.table-2 h2, h3 {
    color: black;
    padding: 10px;
    margin: 10px;
}

.table-2 h3 {
    font-size: 3vw;
    letter-spacing: 15px;
}

.table-2 h2 {
    font-size: 5vw;
    margin: 150px 0 10px 0;
}


