
* {
    box-sizing: border-box;
  }

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(61, 68, 66);
}

/* Profile Box */

.profile {
    display: block;
    width: 50%;
    min-width: 400px;
    border-radius: 14px;
    margin: 70px auto;
    text-align: center;
    color: bisque;
    background-color: rgb(32, 21, 43);
    padding: 0;
}

.profile-info {
    width: 35%;
    display: block;
    margin: 70px auto;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
}

.avatar {
    padding-top: 4px;
    display: block;
    background-color: rgb(47, 31, 63);
    margin: 5px auto;
    border-radius: 14px;
    max-width: 63%;
    min-width: 60%;
    height: auto;
}

.me {
    border-radius: 14px;
    max-width: 100%;
    height: auto;
    min-width: 55%;
}

ul li { 
    list-style-type: none; 
}

.info-content .name {
    color: hsl(0, 0%, 98%);
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.info-content .title {
    color: rgb(8, 176, 206);
    background: rgb(47, 31, 63);
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}

.social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
    width: max-content;
    margin: 10px auto;
}

.social-item .social-link {
    color: hsla(0, 100%, 96%, 0.7);
    font-size: 18px;
}

.social-item .social-link:hover { 
    color: hsl(0, 0%, 100%); 
}

.ionic {
    color: rgb(242, 179, 184);
}




/* Day 1 Box 2*/

.table {
    display: block;
    width: 50%;
    min-width: 400px;
    border-radius: 14px;
    margin: 70px auto;
    text-align: center;
    color: bisque;
    background-color: rgb(32, 21, 43);
}

h1,
h2 {
    padding: 10px;
    margin: 5px auto;
}

.table button {
    padding: 20px;
    color: bisque;
    background-color: rgb(67, 182, 88);
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    border: none;
    border-radius: 14px;
}

.table button:hover {
    color: rgb(34, 20, 20);
    background-color: rgb(10, 170, 90);
}

/* Day - 02 */

.table-2 {
    width: 50%;
    min-width: 400px;
    height: auto;
    border-radius: 14px;
    margin: 70px auto;
    text-align: center;
    color: bisque;
    background-color: rgba(122, 122, 117, 0.959);
}

.white {
    width: 100%;
    height: 150px;
    background-color: rgb(32, 21, 43);
    border-radius: 14px 14px 0 0;
}

.circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgb(32, 21, 43);
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(223, 231, 231);
    margin: 20px auto;
    padding-top: 70px;
}

.table-2 h2, h3 {
    color: rgb(223, 231, 231);
    padding: 10px;
    margin: 10px;
}

.table-2 h3 {
    font-size: 2vw;
    letter-spacing: 15px;
}

.table-2 h2 {
    font-size: 3vw;
    margin: 150px 0 10px 0;
}

.white h6 {
    float: left;
    padding-top: 120px;
    margin-left: 5px;
    font-size: 1.5vw;
    color: rgba(122, 122, 117, 0.959);
}

/* Switch */

.switch {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 5%;
    height: 20px;
    float: right;
    border-radius: 14px;
    margin: 10px;
    cursor: pointer;
}

#myButton {
    background-color: rgb(223, 231, 231);
    border-radius: 14px;
    cursor: pointer;
}

#myButton:hover {
    background-color: rgba(245, 242, 66, 0.959);
}

